version: "3.9"

services:
  db:
    image: postgres:16
    container_name: products_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shop
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d shop"]
      interval: 3s
      timeout: 2s
      retries: 10
    volumes:
      - dbdata:/var/lib/postgresql/data

  migrate:
    image: migrate/migrate:4
    container_name: products_migrate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
   
    command: [
      "-path", "/migrations",
      "-database", "postgres://postgres:postgres@db:5432/shop?sslmode=disable",
      "up"
    ]

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  dbdata:
